/* Container styles */
.bot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px;
  height: 90%;
  max-height: 600px;
  padding: 20px;
  border-radius: 8px; /* Changed to 8px for consistency */
  box-sizing: border-box; /* Ensures padding is included in width and height */
}



.loading-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('loadingbig.gif') center center no-repeat;
  background-size: cover;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Form styles */
.bot-form {
  color: white;
  text-align: center;
  margin-top: -10%; /* Adjust margin as needed */
}

.bot-form label {
  display: block;
  margin: 20px; /* Adjust margin for spacing */
  margin-bottom: 10%;
}

.bot-form h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.336);
  margin: 10px 0; /* Adjust margin for spacing */
  border: 1px solid #4b4b4b; /* Border style */
  border-radius: 5%;
  padding: 8px; /* Padding inside the border */
  display: inline-block; /* Ensures the border wraps around the content */
  width: 25%;
}



.bot-form input[type="text"] {
  color: white;
  width: 100%;
  max-width: calc(100% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(251, 253, 255, 0);
}

/* Play button */
.submit-button-image {
  position: absolute;
  cursor: pointer;
  width: 60%;
  display: flex;
  left: 120%;
  top:50%;
  background-color: rgba(0, 123, 255, 0);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonplay:disabled {
  cursor: not-allowed;
}

/* Form button */
.bot-form button {
  background-color: rgba(0, 123, 255, 0);
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bot-form button:hover {
  opacity: 0.9;
}

.bot-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error message styles */
.bot-error {
  color: white;
  margin-top: 10px;
}

.bot-container {
  text-align: center;
}

.bot-form .form-group {
  margin-bottom: 20px;
}

.bot-form label h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* Texto en blanco */
}

.bot-form input {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.bot-form button {
  color: #000; /* Texto negro */
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}



.output-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; /* Center horizontally */
}


.review-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Cambiar a una fuente más moderna */
  border: 2px solid rgba(92, 92, 92, 0.356); 
  border-radius: 3%; 
  background-color: rgba(0, 0, 0, 0.2); 
  width: 100%; 
  padding: 4%;
  padding-top: 0%;
  position: fixed; 
  left: 80%; 
  color: rgba(245, 245, 245, 0.9);
  top: 0; 
  overflow-y: auto; 
  overflow-x: hidden; 
  height: 600px; 
  white-space: pre-wrap; 
  box-sizing: border-box; 
  line-height: 1.5; 
  letter-spacing: 0.9px; 
}



.review-text::-webkit-scrollbar {
  width: 8px; 
}

.review-text::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}

.review-text::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 10px; 
  border: 2px solid rgba(0, 0, 0, 0.3)
}


.review-text {
  scrollbar-width: thin; 
  scrollbar-color: black rgba(0, 0, 0, 0.1); 
}



.code-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid rgba(92, 92, 92, 0.356); 
  border-radius: 3%; 
  background-color: rgba(0, 0, 0, 0.2); 
  width: 100%; 
  padding: 4%;
  padding-top: 0%;
  position: fixed; 
  left: -90%; 
  color: rgba(245, 245, 245, 0.9);
  top: 0; 
  overflow-y: auto; 
  overflow-x: hidden; 
  height: 400px; 
  white-space: pre-wrap; 
  box-sizing: border-box; 
  line-height: 1.7; 
 
}

.code-text::-webkit-scrollbar {
  width: 8px; 
}

.code-text::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}

.code-text::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 10px; 
  border: 2px solid rgba(0, 0, 0, 0.3)
}


.code-text {
  scrollbar-width: thin; 
  scrollbar-color: black rgba(0, 0, 0, 0.1); 
}


.code{
  font-size: 25px;
  width: 100%;
  opacity: 0.7;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 65%;
  margin-top: 450%;
  padding: 15%;
}
.review{
  font-size: 25px;
  width: 100%;
  opacity: 0.7;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 135%;
  margin-top: -60%;
  padding: 15%;
}
.copy-button {
  position: relative; 
  top: 10px; 
  left: 30%; 
  padding: 10px 15px; 
  background-color: rgba(45, 80, 68, 0.8); 
  color: whitesmoke;
  opacity: 0.8;
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-top: 5%;
  margin-bottom: -50%;
}

.copy-button:hover {
  background-color:  rgba(45, 80, 68, 0.9); 
}
.bot-output2{
  margin-left: -70%;
}
.buttonShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 70%;
  right: 40%;
  transform: translate(0%, 0%);
  text-align: center;
  height: 40%;
  opacity: 0.6;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.buttonShow:hover {
  height: 40.5%;
  opacity: 0.7;
  cursor: pointer;
}


.language-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 150%; /* Adjusted width to 150% */
  margin-left: -25%; /* Centering adjustment */
}

.language-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 120px; /* Fixed width for each option */
}

.language-option img {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  object-fit: contain; /* Maintain aspect ratio */
  margin-bottom: 5px;
}

.language-option p {
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.language-option:hover {
  background-color: #86868652; /* Light background on hover */
}
.language-option.selected {
  background-color: #86868652; /* Light background for selected option */
}

.info-button{
  margin-top: 25%;
  margin-left: 15%;
  height: 100px;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgb(0, 0, 0);
  color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(16, 39, 34);
  padding: 20px;
  max-width: 500px;
  width: 90%;
  z-index: 9999; /* Ensure it appears above other elements */
}

.modal-close-button{
  background-color: rgba(78, 78, 78, 0.2);
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .bot-container {
    width: 90%; /* Adjusted width */
    height: auto;
  }

  .buttonShow {
    top: 85%; /* Adjust position for smaller screens */
    height: 8%; /* Adjust height for smaller screens */
  }

  .bot-form {
    margin-top: -10%;
  }

  .bot-form label {
    display: block;
    margin: 20px;
  }

  .bot-form h1 {
    display: block;
    margin: 5px;
    font-size: 15px;
  }

  .bot-form input[type="text"] {
    padding: 8px;
  }

  .bot-form button {
    position: fixed;
    bottom: -125%;
    left: 45%;
    height: 80%;
    width: 60%;
  }
}
